@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
*{
    font-family: Inter;
}
body,html{
    background-color: #EF5D5D;
}
.navbar{
    background-color: #E72E2E;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%),
    inset 0 -1px 0 rgb(0 0 0 / 15%);
    z-index: 1000;
}
.logo{
    filter: invert(100%) sepia(16%) saturate(6146%) hue-rotate(217deg) brightness(116%) contrast(105%);
}
.logo:hover{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.logo:not(:hover){
    transform: rotate(-360deg);
    transition: all 0.75s;
}
.contenedor{
    width: 80%;
    height: auto;
    background-color: #F5F5F5;
    box-shadow: 0 1rem 1rem rgb(16 16 16 / 20%),
    inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.contenido{
    width: 80%;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 1em;
}
.contenido h1{
    font-size: 50px;
    font-weight: bold;
}
.carousel{
    border-radius: 1em;
    box-shadow: 0 0.5rem 1rem rgb(16 16 16 / 20%),
    inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.carousel-inner{
    border-radius: inherit;
}
.carousel-item{
    height: 80%;
    border-radius: inherit;
}
.carousel-item img{
    height: 30em !important;
    border-radius: none;
}
.text-border{
    text-shadow: -1px 1px 0 #FFF,
                          1px 1px 0 #fff,
                         1px -1px 0 #fff,
                        -1px -1px 0 #fff;
}

.boton-container a {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: -webkit-calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.red:hover, .red:focus:not(.disabled){
    background: #fb1f1f;
}
.boton:hover, .boton:focus:not(.disabled){
    background: #fb1f1f;
    color: #f5f5f5;
    -webkit-box-shadow: 0 20px 25px -15px rgb(0 0 0 / 25%);
    box-shadow: 0 20px 25px -15px rgb(0 0 0 / 25%);
}
.red{
    background: #fb1f1f80;
}
a.boton{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.boton{
    text-decoration: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 12px 24px;
    cursor: pointer;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
}
.boton-container {
    font-size: 0.95rem;
}
.boton-container {
    font-size: 0.9rem;
}
.red:hover:after, .boton.red:focus:not(.disabled):after {
    border-color: #f5f5f5;
}
.boton:hover:after, .boton:focus:not(.disabled):after {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}
.red:after {
    border-color: #fb1f1f;
}
.boton:after {
    color: #f5f5f5;
    text-decoration: none;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f5f5f5;
    transition: 0.25s;
}

.red-brblack:hover:after, .btn.red-brblack:focus:not(.disabled):after{
    border-color: #292929;
}
.btn-brblack:hover:after, .boton:focus:not(.disabled):after{
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}
@media screen and (max-width: 1200px){
    .contenedor{
        width: 95%;
    }
    .cotenido{
        width: 100%;
    }
    .contenido h1{
        font-size: 30px;
    }
}
@media screen and (max-height: 700px){
    .contenedor{
        height: auto;
    }
}
.nav-link{
    color: #F5F5F5 !important;
}